body {
    width: 100%;
    font-family: "Open Sans";
    margin: 0 auto;
    line-height: 2;
    background: bisque;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}


/*header*/

.header {
    padding-top: 12px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: 18px;
    font-weight: 550;
    color:#c8350cdc;
    font-family:  Georgia, serif;
    text-shadow: rgb(255, 255, 255) 1px 0 10px;
}


/*nav*/

.nav__link {
    font-size: 15px;
    font-weight: 550;
    color: #fff;
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;
    text-decoration: none;
    transition: color .2s linear;
    text-shadow: black 1px 0 10px;
}

.nav__link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    opacity: 0;

    background-color: #ff5627f1;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity .3s linear;
}

.nav__link:hover {
    color:#f87021;
}

.nav__link:hover:after {
    opacity: 1;
}

nav span {
    font-weight: 500;
}

div {
    display: block;
}

section,
footer {
    margin: 0 auto;
    padding: 2rem;
    text-align: center;

}

/*homepage*/

.section__homepage {
    position: relative;
    text-align: center;
    font-size: 15px;
    padding: 20px 0 20px;
    margin-top: 20px;
}

.container__book {
    width: 690px;
    margin: 0 auto;
    padding: 0 0 5px;
}

.container__homepage {
    width: 570px;
    margin: 0 auto;
    padding: 0 0 5px;
}

.container__login{
    width: 570px;
    margin: 0 auto;
    padding: 0 0 5px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.login{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
}

.section__title {
    padding: 2rem;
    text-indent: 1em;
    text-transform: uppercase;
    text-align: left;
    line-height: 1;
}

.section__title:after {
    content: "";
    display: block;
    height: 2px;
    background-color: #e07a70;
    margin: 12px auto 0;
}

.section__title__account {
    padding: 2rem;
    text-indent: 1em;
    text-align: left;
    line-height: 1;
}
.section__title__author {
    padding: 2rem;
    text-indent: 1em;
    text-align: center;
    line-height: 1;
}

.section__title__author:after {
    content: "";
    display: block;
    height: 2px;
    background-color: #e07a70;
    margin: 12px auto 0;
}

.section__title__account:after {
    content: "";
    display: block;
    height: 2px;
    background-color: #e07a70;
    margin: 12px auto 0;
}
.title__container {
    display: flex;
    justify-content: left;
    align-items: flex-end;
}
.progress__container {
    display: flex;
    justify-content: center;
    vertical-align: middle;
    line-height: 22px;
}

p {
    display: block;
    margin: 0;
    max-width: 600px;
}


/*menu*/

.genre {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
    line-height: 22px;
}


.genre__img {
    width: 100%;
    height: 55vh;
    max-height: 300px;
    min-height: 150px;
    aspect-ratio: 1;
    object-fit: scale-down;
}


.genre__h3 {
    padding: 0 0 7px;
}


h1,
h2,
h3,
h4 {
    font-weight: 600;
    margin: 0;
}

.book__img {
    width: 100%;
    height: 55vh;
    max-height: 450px;
    min-height: 250px;
    aspect-ratio: 1;
    object-fit: scale-down;
}
.account__img {
    width: 100%;
    height: 55vh;
    max-height: 230px;
    min-height: 170px;
    aspect-ratio: 1;
    object-fit: scale-down;
}

.book{
    min-height: 250px;
    text-align: left;
}

.account{
    width: 100%;
    max-width: 1300px;
    justify-content: left;
    display: flex;
    line-height: 22px;
}

.account__title {
    text-transform: uppercase;
}
.account__book{
    max-height: 200px;
    min-height: 100px;
    text-align: left;
}

table {
    margin: 0 auto;
    width: 100%;
    max-width: 1300px;
    border: 2px solid green;
    border-radius: 1rem;
    border-spacing: 0;
    overflow: hidden;
}

td,
th {
    padding: 0.5rem;
}

tbody > tr:first-child > td {
    border-top: 2px solid green;
}

tbody tr:nth-child(odd) {
    background-color: rgb(176, 215, 176);
}


h1 {
    font-size: 30px;
    font-weight: 520;
}

h2 {
    font-size: 23px;
    font-weight: 300;
    padding: 0.5rem;
}

h3 {
    font-size: 23px;
    font-weight: 400;
}

h4 {
    font-size: 17px;
    font-weight: 400;
}

.book__title {
    font-weight: 650;
}

.percent {
    text-indent: 5px
}

.books__number {
    text-indent: 45px;
}

.books__empty {
    text-align: left;
    text-indent: 4em
}

form {
    display: flex;
    min-width: 200px;
    align-items: stretch;
    max-width: 600px;
    margin: 0 auto;
}


input {
    font: inherit;
    border: 1px solid green;
    border-radius: 0.5rem;
    min-width: 200px;
    display: block;
    margin-top: 0.5em;
}

.submit {
    background: green;
    color: white;
    min-width: 50px;
    border-radius: 0.5rem;
    max-height: 40px;
    margin-top: 0.5em;
}
.search {
    min-width: 500px;
}

progress{
    /*reset to default appearance*/
    width: 500px;
    height: 24px;
    border: 2px solid #e07a70;
    margin-left: 3em;
}

/*style for background track*/
progress::-webkit-progress-bar {
    background: floralwhite;
}
/*style for progress track*/
progress::-webkit-progress-value {
    background: #c44235;
}

footer {
    background: rgb(176, 215, 176);
    text-align: center;
}