<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap" rel="stylesheet" />

  <title>My Account</title>
  <link rel="stylesheet" type="text/css" th:href="@{/styles.css}" href="../static/styles.css">

</head>
<body>
  <header class="header">
    <div class="container">
      <div class="header__inner">
        <div class="header__logo">Reading Tracker Web Application</div>

        <nav>
          <a class="nav__link" th:href="@{/main}">MAIN PAGE</a>
          <!--<a class="nav__link" href="@{/logIn}">LOG IN</a>
          <a class="nav__link" href="@{/register}">REGISTER</a>-->
        </nav>
      </div>
    </div>
  </header>


  <div style="margin-top: 50px">
    <section class="section__homepage">
      <div class="section__title__account">
        <div class="title__container">
          <h1 class="account__title">Want to Read</h1>
          <h3 class="books__number" th:text="|${wantToReadNumber} book(s)|"></h3>
        </div>
      </div>

      <div class="account" th:if="${wantToReadBooks}">
        <div th:each="book: ${wantToReadBooks}">
          <div>
            <a th:href="@{|/books/${book.id}|}">
              <img class="account__img" th:src="|https://covers.openlibrary.org/b/isbn/${book.cover}-M.jpg|" alt="Top book">
            </a>
          </div>
        </div>
        <div>
          <a th:href="@{|/account/${userId}/wantToRead|}">
            <img class="account__img" src="/images/view_more.jpg" alt="Top book">
          </a>
        </div>
      </div>
      <div th:unless="${wantToReadBooks}">
        <h4 class="books__empty" th:text="|You have no books maked as 'Want to Read'.|"></h4>
      </div>
    </section>

    <section class="section__homepage">
      <div class="section__title__account">
        <div class="title__container">
          <h1 class="account__title">Read</h1>
          <h3 class="books__number" th:text="|${readNumber} book(s)|"></h3>
        </div>
      </div>

      <div class="account" th:if="${readBooks}">
        <div th:each="book: ${readBooks}">
          <div>
            <a th:href="@{|/books/${book.id}|}">
              <img class="account__img" th:src="|https://covers.openlibrary.org/b/isbn/${book.cover}-M.jpg|" alt="Top book">
            </a>
          </div>
        </div>
        <div>
          <a th:href="@{|/account/${userId}/read|}">
            <img class="account__img" src="/images/view_more.jpg" alt="Top book">
          </a>
        </div>
      </div>
      <div th:unless="${readBooks}">
        <h4 class="books__empty" th:text="|You have no books maked as 'Read'.|"></h4>
      </div>
    </section>

    <div th:if="${progress}">
      <section class="section__homepage">
        <div>
          <h1 class="section__title" th:text="|Your progress for ${year}|"></h1>
          <h1 th:text="|${read} of ${goal} books|"></h1>
          <div class="progress__container">
            <progress th:value="${read}" th:max="${goal}"></progress>
            <h4 class="percent" th:text="|${progress}%|"></h4>
          </div>
          <div th:if="${booksBehindSchedule}">
            <h4 style="text-align: center" th:text="|${booksBehindSchedule} book(s) behind your schedule.|"></h4>
          </div>
          <div th:unless="${booksBehindSchedule}">
            <h4 style="text-align: center" th:text="|Great! You are on track with your reading schedule.|"></h4>
          </div>
        </div>
      </section>
    </div>


    <section class="section__homepage" th:each="book: ${booksReadThisYear}">
      <div class="container__homepage">
        <div class="account">
          <div>
            <a th:href="@{|/books/${book.id}|}">
              <img class="account__img" th:src="|https://covers.openlibrary.org/b/isbn/${book.cover}-M.jpg|" alt="Top book" >
            </a>
          </div>
          <div class="account__book">
            <h4 class="book__title" th:text="|${book.title}|"></h4>
            <br>
            <p th:text="|Rating: ${book.rating}|"></p>
            <br>
            <div th:object="${book.author}">
              <a th:href="@{|/authors/${book.author.id}|}">
                <p th:text="|Author: ${book.author.firstName} ${book.author.lastName}|"></p>
              </a>
            </div>
            <br>
          </div>

        </div>
        <h1 class="section__title"></h1>
      </div>
    </section>

  </div>

  <!--<section class="section__homepage" th:unless="${access}">
    <div class="container__homepage" style="align-content: center">
        <h1>No access</h1>
    </div>
  </section>-->
  <footer>
    <p>Copyright (c) 2024 Daryna Vlasiuk</p>
  </footer>


</body>
</html>