<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap" rel="stylesheet" />

  <title>Author page</title>
  <link rel="stylesheet" type="text/css" th:href="@{/styles.css}" href="../static/styles.css">
</head>
<body>
  <header class="header">
    <div class="container">
      <div class="header__inner">
        <div class="header__logo">Reading Tracker Web Application</div>

        <nav class="nav">
          <a class="nav__link" th:href="@{/main}">MAIN PAGE</a>
          <a class="nav__link" th:href="@{/logIn}">MY ACCOUNT</a>
          <!--<a class="nav__link" href="@{/logIn}">LOG IN</a>
          <a class="nav__link" href="@{/register}">REGISTER</a>-->
        </nav>
      </div>
    </div>
  </header>

  <div th:object="${author}">
    <section class="section__homepage">
      <div>
        <h1 class="section__title__author" th:text="|${author.firstName} ${author.lastName}|"></h1>
        <div>
          <h4 style="text-align: center" th:text="|Born: ${author.dateOfBirth}|"></h4>
        </div>
      </div>
    </section>


    <section class="section__homepage" th:each="book: ${author.books}">
      <div class="container__homepage">
        <div class="account">
          <div>
            <a th:href="@{|/books/${book.id}|}">
              <img class="account__img" th:src="|https://covers.openlibrary.org/b/isbn/${book.cover}-M.jpg|" alt="Top book" >
            </a>
          </div>
          <div class="account__book">
            <h4 class="book__title" th:text="|${book.title}|"></h4>
            <br>
            <p th:text="|Rating: ${book.rating}|"></p>
          </div>

        </div>
        <h1 class="section__title"></h1>
      </div>
    </section>


  </div>

  <footer>
    <p>Copyright (c) 2024 Daryna Vlasiuk</p>
  </footer>

</body>
</html>