<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap" rel="stylesheet" />

  <title>Log in</title>
  <link rel="stylesheet" type="text/css" th:href="@{/styles.css}" href="../static/styles.css">
</head>
<body style="align-content: center">

  <header class="header">
    <div class="container">
      <div class="header__inner">
        <div class="header__logo">Reading Tracker Web Application</div>
        <nav>
          <a class="nav__link" th:href="@{/main}">MAIN PAGE</a>
        </nav>
      </div>
    </div>
  </header>

  <section class="section__homepage">
    <div class="container__login"></div>
      <form class="login" method="get" th:action="@{/account}">
        <input name="username" type="text" placeholder=" Username"/>
        <input name="password" type="text" placeholder=" Password"/>
        <input th:if="${bookId}" type="hidden"  name="bookId" th:value="${bookId}"/>
        <input th:if="${bookId}" type="hidden"  name="markAs" th:value="${markAs}"/>
        <button class="submit" type="submit">Log in</button>
      </form>
    </div>

  </section>

  <section class="section__homepage" th:if="${access}">
    <div class="container__homepage" style="align-content: center">
      <h1>Access denied: Wrong username or password</h1>
    </div>
  </section>

</body>
</html>