<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap" rel="stylesheet" />

    <title>Main page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}" href="../static/styles.css">
</head>
<body>

    <header class="header">
        <div class="container">
            <div class="header__inner">
                <div class="header__logo">Reading Tracker Web Application</div>
                <div style="min-width: 400px;">
                    <form method="get" th:action="@{/search}">
                        <input name="search" type="text" placeholder="Search book title or author"/>
                        <button class="submit" type="submit">Search</button>
                    </form>
                </div>
                <nav>
                    <a class="nav__link" th:href="@{/logIn}">MY ACCOUNT</a>
                    <!--<a class="nav__link" href="@{/logIn}">LOG IN</a>
                    <a class="nav__link" href="@{/register}">REGISTER</a>-->
                </nav>
            </div>
        </div>
    </header>

    <section class="section__homepage" th:if="${error}" style="text-align: center">
        <p th:text="${error}"></p>
    </section>


    <section class="section__homepage" th:each="genre: ${genres}">
        <h1 class="section__title" th:text="${genre.key}"></h1>
        <div class="genre">
            <div th:each="book: ${genre.value}">
                <div>
                    <a th:href="@{|/books/${book.id}|}">
                        <img class="genre__img" th:src="${book.cover}" alt="Top book">
                    </a>
                </div>
            </div>

        </div>
    </section>


    <footer>
        <p>Copyright (c) 2024 TPO s26878</p>
    </footer>

</body>
</html>